header {
    text-align: center;
    background-color: #add8e6;
    padding: 2rem 1rem; 
}

header nav {
  margin-top: 15px;
}

main {
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin-bottom: 10px;
    padding: 2rem 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

body{
    background-color:#add8e6;
    text-align: center;
    color: #072B98;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color:#1e3842;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}

main p {
    text-align: center;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
}

footer nav {
  margin-bottom: 15px;
}

img{
    width:50%;
}
figure{
    text-align: center;
    font-style: italic;
}

main nav{
    text-align: center;
    background-color: #add8e6;
}

li {
    text-align: left;
}
ul{
    text-align: center;
}
@media screen and ( min-width: 992px ) and ( max-width: 1400px ) {
    header {
        background-color:#47393D;
        font-size: 32px;
    }
    body {
        font-size: 20px;
    }

}
@media screen and ( min-width: 601px ) and ( max-width: 991px )  {
    header {
        background-color:#3f93aa;
        font-size: 22px;
    }
    body {
        font-size: 20px;
    }
}
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    header {
        background-color:#9B9FA9;
        font-size: 17px;
    }
    body {
        font-size: 15px;
    }
}
legend {
    text-align: center;
}
input {
    margin: 10px;
}

main ol {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}